<html>
  <head>
    <title>Todo Application</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body ng-app="toDoApp">
    <div class="container" ng-controller="ToDoController">
      <div class="form col-md-8 m-y-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter a Task to Add" ng-model="task" ng-keypress="enterTask($event)">
          <input type="text" class="form-control" placeholder="Enter a Due Date" ng-model="dueDate" ng-keypress="enterTask($event)">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" ng-click="addTask()"><i class="fa fa-plus"></i> Add Task</button>
          </span>
        </div>
        <div class="input-group m-y-1">
          <input type="text" class="form-control" placeholder="Enter Search Term" ng-model="inSearch" ng-keypress="enterSearch($event)">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search" ng-click="search({{inSearch}})"></i> Search</button>
          </span>
        </div>
      </div>
      <ul class="list-group col-md-8 m-l-1" ng-show="tasks.length > 0">
        <li class="list-group-item clearfix task" ng-repeat="todo in tasks" ng-class="{disabled: todo.done}">
          <p class="lead">Task: {{todo.task}}</p>
          <p class="lead">Due Date: {{todo.dueDate}}</p>
          <div>
            <button class="btn btn-default btn-xs"><i class="fa fa-pencil-square-o" ng-click="editTask($index)"></i></button>
            <button class="btn btn-primary btn-xs" ng-show="!todo.done"><i class="fa fa-check" ng-click="doneTask($index)"></i></button>
            <button class="btn btn-primary btn-xs" ng-show="todo.done"><i class="fa fa-refresh" ng-click="unDoneTask($index)"></i></button>
            <button class="btn btn-danger btn-xs"><i class="fa fa-times" ng-click="deleteTask($index)"></i></button>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
